.flx-slider-wrapper{
  
}
.flx-slider-inner{
  overflow: hidden
}

/* slider */
.flx-slider{
  
}

/* slide */
.flx-slide{

}

.flx-slide-active{
  
}


.flx-slide-animating-in{
  
}

.flx-slide-animating-out{
  
}






.flx-slider-wrapper{
  
}
.flx-slider-inner{
  
}

/* slider */
.flx-slider{
  
}

.flx-slider-gallery{
  
}

.flx-slider-slider{
  
}

.flx-slider-carousel{
  
}


/* slide */
.flx-slide{
  
}

.flx-slide-active{
  
}


.flx-slide-animating-in{
  
}

.flx-slide-animating-out{
  
}


/* gallery styles */
.flx-slider-gallery{
  position: relative;
}

.flx-slider-gallery .flx-slide{
  position: absolute;
  top: 0;
  left: 0;
  transition: all 2s ease;
  opacity: 0
}
.flx-slider-gallery .flx-slide-active{
    position: relative;
    opacity: 1;
 } 




/* slider Stypes */
.flx-slider-slider{
  
}

.flx-slider-carousel{
  
}
